@font-face {
  font-family: "Antikva Neue";
  src: url('./fonts/Antikva Neue Bold.woff2') format('woff2'),
       url('./fonts/Antikva Neue Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: "Ortica Linear Light";
  src: url('./fonts/OrticaLinear-Light.woff2') format('woff2'),
       url('./fonts/OrticaLinear-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #242526;
}

header {
  position: relative;
  top: 0;
  margin: 0;
  padding: 15px 0 15px 0;
  background-color: #242526;
  display: inline;
}

#naslov h1 {
  font-family: "Antikva Neue", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #eae1c5;
  width:100vw;
  text-align: center;
}

#naslov a:link {
  text-decoration: none;
}

#naslov a:hover {
  font-family: "Antikva Neue";
  font-family: 100;
  font-size: 20px;  
  text-decoration: underline;
  color: #eae1c5;
}

#naslov a:visited {
  text-decoration: none;
  color: #eae1c5;

}

#naslov {
  position: relative;
  align-content: center;
  justify-content: center;
}

section.vid div.holder {
  position: relative;
  top: 0;
  padding: 0;
}

section.vid video {
  width: 100%;
}

section#opis {
  display: block;
  position: relative;
  background: #eae1c5;
  padding: 0;
}

section#opis div.text-holder {
  margin: 10% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#opis p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #242526;
}

section#opis span {
  font-family: "Antikva Neue";
  font-weight: 700;
  font-style: normal;
  display: inline;
  color: #242526;
}

section#kontakt {
  display: block;
  position: relative;
  background: #242526;
  padding: 0;
}

section#kontakt div.text-holder {
  margin: 5dvh 20dvw;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#kontakt p{
  font-family: "Ortica Linear Light", serif;
  font-size: 20px;
  font-weight: 100;
  display: block;
  color: #eae1c5;
}

section#kontakt span {
  font-family: "Antikva Neue";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  display: inline;
  color: #eae1c5;
}

section#kontakt a:link {
  font-family: "Antikva Neue";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: inline;
  color: #eae1c5;
}

section#kontakt a:hover {
  font-family: "Antikva Neue";
  font-size: 20px
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
  display: inline;
  color: #eae1c5;
}

section#kontakt a.btn{
  position: absolute;;
  display:inline-block;
  padding:1vw 2vw;
  border:0.1em solid #eae1c5;
  border-radius:50px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Ortica Linear Light", serif;
  font-size: 15px;
  font-weight:100;
  font-style: normal;
  color:#eae1c5;
  text-align:center;
}

section#kontakt a.btn:hover{
  color:#242526;
  background-color:#eae1c5;
}

section.grid {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  display: grid;
  grid-row-gap: 2vw;
  grid-column-gap:2vw;
}

section.grid img{
  width: 5vw;
  justify-content: center;
  align-items: center;
}

section.grid .tag {
  visibility: hidden;
}


@media screen and (max-width: 700px) {
    #desktop {
        display: none;
    }
    section.grid {
      grid-template-columns: auto;
    }

    section.grid img {
      width: 10vw;
    }

    section#opis {
      height: 50dvh;
    }

    section#opis p{
      font-size: 15px;
    }

    section#opis span{
      font-size: 15px;
    }

    section#kontakt {
      height: 50dvh;
    }

    section#kontakt div.text-holder {
      font-size: 15px;
    }

    section#kontakt a.btn{
      margin: 20vh 40vw;
    }
}
    
@media screen and (min-width: 701px) {
    #mobile {
        display: none;
    }

    section.grid {
      grid-template-columns: auto;
    }

    section#opis {
      height: 100vh;
      height: 100dvh;
    }

    section#opis p{
      font-size: 30px;
    }

    section#opis span{
      font-size: 30px;
    }

    section#kontakt {
      height: 50vh;
      height: 50dvh;
    }

    section#kontakt div.text-holder {
      font-size: 20px;
    }
    section#kontakt a.btn{
      margin: 20dvh 45vw;
    }
}