@font-face {
  font-family: "Antikva Neue";
  src: url('https://github.com/niksbozovic/hartija-xyz/blob/f726c911702a7331f5640b0922e543a2df6d3216/fonts/Antikva%20Neue.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: "Ortica Linear Light";
  src: url('https://github.com/niksbozovic/hartija-xyz/blob/f726c911702a7331f5640b0922e543a2df6d3216/fonts/OrticaLinear-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #2A2A2C;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  margin: 0;
  padding: 10px 0 10px 0;
  background-color: rgba(234, 225, 197, 1.0);
  display: grid;
  grid-template-columns: auto auto;

}

header h1 {
  font-family: "Antikva Neue", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  color: #242526;
  width:200px;
  margin: 0;  
}

p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  font-size: 20px;
  color: #242526;
  margin: 0;
}

nav a {
  color: #242526;
  text-decoration: none;
}

nav a.lan:hover {
  color: #868BE9;
}

nav a.pamuk:hover {
  color: #FF3D5A;
}

nav a.bambus:hover {
  color: #6FB563;
}

#naslov {
  margin-left: 30px;
  justify-self: left;
}

nav {
  margin-right: 30px;
  justify-self: right;
}

section.vid div.holder {
  position: relative;
  top: 0;
}

section.vid video {
  width: 100%;
}

section.grid {
  display: grid;
  margin: 12vh 10vw;
  grid-row-gap: 1.5vw;
  grid-column-gap: 5vw;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: absolute;
  overflow: hidden;
}

.img-wrapper img{
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}


@media screen and (max-width: 700px) {
    #desktop {
        display: none;
    }
    section.grid {
      grid-template-columns: auto;
    }
}
    
@media screen and (min-width: 701px) {
    #mobile {
        display: none;
    }

    section.grid {
      grid-template-columns: auto auto auto;
    }
}