* {
  margin: 0;
  box-sizing: border-box;
  background-color: #2A2A2C;
}

section.vid div.holder {
  position: relative;
  top: 0;
}

section.vid video {
  width: 100%;
}

section.grid {
  display: grid;
  margin: 12vh 10vw;
  grid-row-gap: 1.5vw;
  grid-column-gap: 5vw;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: absolute;
  overflow: hidden;
}

.img-wrapper img {
  display: block;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: relative;
  width: 100%;
  border-radius: 50%;
  display: block;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper > img:hover > .content {
  opacity: 0;
}

.img-wrapper > img:hover > .content {
  opacity: 1;
}


@media screen and (max-width: 700px) {
    #desktop {
        display: none;
    }
    section.grid {
      grid-template-columns: auto;
    }
}
    
@media screen and (min-width: 701px) {
    #mobile {
        display: none;
    }

    section.grid {
      grid-template-columns: auto auto auto;
    }
}