@font-face {
  font-family: "Antikva Neue";
  src: url('../fonts/Antikva Neue Bold.woff2') format('woff2'),
       url('../fonts/Antikva Neue Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: "Ortica Linear Light";
  src: url('../fonts/OrticaLinear-Light.woff2') format('woff2'),
       url('../fonts/OrticaLinear-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #242526;
}

header {
  position: relative;
  top: 0;
  margin: 0;
  padding: 15px 0 15px 0;
  background-color: #242526;
  display: inline;
}

#naslov h1 {
  font-family: "Antikva Neue", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: #eae1c5;
  width:100vw;
  text-align: center;
}

#naslov a:link {
  text-decoration: none;
}

#naslov a:hover {
  font-family: "Antikva Neue";
  font-family: 100;
  font-size: 20px;  
  text-decoration: underline;
  color: #eae1c5;
}

#naslov a:visited {
  text-decoration: none;
  color: #eae1c5;

}

#naslov {
  position: relative;
  align-content: center;
  justify-content: center;
}

section.vid div.holder {
  position: relative;
  top: 0;
  padding: 0;
}

section.vid video {
  width: 100%;
}

section#bambus-01 {
  display: block;
  position: relative;
  background: #eae1c5;
  padding: 0;
}

section#bambus-01 div.text-holder {
  margin: 8% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#bambus-01 p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #242526;
}

section#bambus-01 span {
  font-family: "Antikva Neue";
  font-weight: 700;
  font-style: normal;
  display: inline;
  color: #6FB563;
}

section#bambus-02 {
  display: block;
  position: relative;
  background: #6FB563;
  padding: 0;
}

section#bambus-02 div.text-holder {
  margin: 10% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#bambus-02 p{
  margin: 0.1vh 0;
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #eae1c5;
}

section#bambus-02 h1{
  margin: 0.1vh 0;
  font-family: 'Antikva Neue', serif;
  font-style: normal;
  font-weight: 700;
  display: block;
  color: #eae1c5;
}

section#bambus-02 a.btn{
  position: absolute;;
  display:inline-block;
  margin: 0.5vh 0;
  padding:1vw 2vw;
  border:0.1em solid #eae1c5;
  border-radius:50px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:"Ortica Linear Light", serif;
  font-size: 15px;
  font-weight:100;
  font-style: normal;
  color:#eae1c5;
  text-align:center;
}

section#bambus-02 a.btn:hover{
  color:#242526;
  background-color:#eae1c5;
}

section#bambus-03 {
  position: relative;
  background: #242526;
  padding: 0;
}

section#bambus-03 .photo-grid-julia-lazar {
  display:grid;
  grid-template-columns: auto auto;
}

section#bambus-03 .photo-grid-julia-lazar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#bambus-03 .photo-grid-teodora-nedeljkovic {
  display:grid;
  grid-template-columns: auto auto;
}

section#bambus-03 .photo-grid-teodora-nedeljkovic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#bambus-03 .photo-grid-milica-krstovic {
  display:grid;
  grid-template-columns: auto auto;
}

section#bambus-03 .photo-grid-milica-krstovic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.grid {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  display: grid;
  grid-row-gap: 2vw;
  grid-column-gap:2vw;
}

section.grid img{
  width: 5vw;
  justify-content: center;
  align-items: center;
}

section.grid .tag {
  visibility: hidden;
}


@media screen and (max-width: 700px) {
    #desktop {
      display: none;
    }

    section.grid {
      grid-template-columns: auto;
    }

    section.grid img {
      width: 10vw;
    }

    section#bambus-01 {
      height: 50vh;
      height: 50dvh;
    }

    section#bambus-01 div.text-holder {
      font-size: 20px;
    }

    section#bambus-02 {
      height: 30vh;
      height: 30dvh;
    }

    section#bambus-02 div.text-holder {
      font-size: 20px;
    }
}
    
@media screen and (min-width: 701px) {

    #mobile {
        display: none;
    }

    section.grid {
      grid-template-columns: auto;
    }

    section#bambus-01 {
      height: 50vh;
      height: 50dvh;
    }

    section#bambus-01 div.text-holder {
      font-size: 30px;
    }

    section#bambus-02 {
      height: 50vh;
      height: 50dvh;
    }

    section#bambus-02 div.text-holder {
      font-size: 30px;
    }

}