@font-face {
  font-family: "Antikva Neue";
  src: url('../fonts/Antikva Neue.woff2') format('woff2'),
       url('../fonts/Antikva Neue.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: "Ortica Linear Light";
  src: url('../fonts/OrticaLinear-Light.woff2') format('woff2'),
       url('../fonts/OrticaLinear-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #242526;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  margin: 0;
  padding: 10px 0 10px 0;
  background-color: #eae1c5;
  display: grid;
  grid-template-columns: auto auto;
}

header h1 {
  font-family: "Antikva Neue", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  color: #242526;
  width:200px;
  margin: 0;  
}

.naslov a {
  font-family: "Antikva Neue", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: #242526;
  width:200px;
  margin: 0;  
}

.naslov a:hover{
  font-family: "Ortica Linear Light";
  font-family: 100;
  font-size: 20px;
}

header p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  font-size: 20px;
  color: #242526;
  margin: 0;
}

nav a {
  color: #242526;
  text-decoration: none;
}

nav a.lan:hover {
  color: #868BE9;
}

nav a.pamuk:hover {
  color: #FF3D5A;
}

nav a.bambus:hover {
  color: #6FB563;
}

#naslov {
  margin-left: 30px;
  justify-self: left;
}

nav {
  margin-right: 30px;
  justify-self: right;
}

section.vid div.holder {
  position: relative;
  top: 0;
  padding: 0;
}

section.vid video {
  width: 100%;
}

section#lan-01 {
  display: block;
  position: relative;
  background: #eae1c5;
  padding: 0;
}

section#lan-01 div.text-holder {
  margin: 8% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#lan-01 p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #242526;
}

section#lan-01 span {
  font-family: "Antikva Neue";
  font-weight: 700;
  font-style: italic;
  display: inline;
  color: #868BE9;
}

section#lan-02 {
  display: block;
  position: relative;
  background: #868BE9;
  padding: 0;
}

section#lan-02 div.text-holder {
  margin: 5% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#lan-02 p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #eae1c5;
}

section#lan-02 a, span {
  font-family: "Antikva Neue";
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  display: inline;
  color: #242526;
}

section#lan-03 {
  display: block;
  position: relative;
  background: #242526;
  padding: 0;
}

section#lan-03 div.text-holder {
  margin: 2% 20%;
  display: block;
  position: absolute;
  justify-content: center;
  align-content: center;
}

section#lan-03 p{
  font-family: "Ortica Linear Light", serif;
  font-weight: 100;
  display: block;
  color: #eae1c5;
}

section#lan-03 span {
  font-family: "Antikva Neue";
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  display: inline;
  color: #868BE9;
}

section.grid {
  display: grid;
  margin: 5vh 5vw 5vh 15vw;
  grid-row-gap: 5vw;
  grid-column-gap: 5vw;
  justify-content: center;
  align-items: center;
}

section.grid img{
  width: 50%;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 700px) {
    #desktop {
      display: none;
    }

    section.grid {
      grid-template-columns: auto auto auto;
    }

    section#lan-01 {
      height: 100vh;
    }

    section#lan-01 div.text-holder {
      font-size: 20px;
    }

    section#lan-02 {
      height: 100vh;
    }

    section#lan-02 div.text-holder {
      font-size: 20px;
    }

    section#lan-03 {
      height: 100vh;
    }

    section#lan-03 div.text-holder {
      font-size: 20px;
    }
}
    
@media screen and (min-width: 701px) {

    #mobile {
        display: none;
    }

    section.grid {
      grid-template-columns: auto auto auto;
    }

    section#lan-01 {
      height: 100vh;
    }

    section#lan-01 div.text-holder {
      font-size: 30px;
    }

    section#lan-02 {
      height: 100vh;
    }

    section#lan-02 div.text-holder {
      font-size: 30px;
    }

    section#lan-03 {
      height: 100vh;
    }

    section#lan-03 div.text-holder {
      font-size: 30px;
    }

}